@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
html, body {
  height: 100%;
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Mono';
} 
.item {
  width: 100%;
  text-align: center;
  font-size: 5vw;
	display: none;
}
.banner {
  font-size: 6vw;
  text-transform: uppercase;
  background: black;
  color: white;
}
.container {
  background-color: black;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.share {
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 5px;
  position: relative;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.centered {
  background-color: black;
  color: white;
  margin: 0;
	width: 80%;
}

