@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
html, body {
  height: 100%;
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Mono';
} 
.item {
  width: 100%;
  text-align: center;
  font-size: 4vh;
	display: none;
}
.banner {
  font-size: 3vh;
  text-transform: uppercase;
  background: black;
  color: white;
}
.container {
  background-color: black;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 80%;
}
.share {
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  position: relative;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.centered {
  background-color: black;
  color: white;
  margin: 0;
	width: 100%;
}

.copied {
  visibility: hidden;
  background-color: #121213;
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 5px;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
